@use "../../variables/variables" as *;
.custom-container {
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  h1 {
    color: $heading-color;
    font-weight: bold;
    font-size: calc(2rem + 0.2vw);
    margin: 15px 0 40px;
  }
  .container {
    position: relative;
  }
  .custom-header {
    .flex {
      color: $primary-light;

      .icon {
        padding: 6px;
        border-radius: 50%;
      }
      svg {
        color: $white-color;
      }
    }
  }
}
.new-arrival {
  margin-bottom: 75px;

  .custom-header {
    .flex {
      color: $primary-light;
      .icon {
        background-color: $primary-light;
      }
    }
  }
}

.best-seller {
  margin-top: 75px;

  .custom-header {
    .flex {
      color: $secondary-color;

      .icon {
        background-color: $secondary-color;
      }
    }
  }
  .swiper-slide {
    padding: 25px;
    z-index: 1;
    img {
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
    &:hover {
      img {
        scale: 0.9;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 20px;
      z-index: -1;
      height: 70%;
      width: 100%;
      background-color: $secondary-bg;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
    }
    .title-link {
      color: $heading-color;
      font-weight: bold;
      font-size: calc(1.4rem + 0.2vw);
      margin: 0 0 15px;
    }
    h5 {
      font-weight: bold;
      margin-bottom: 10px;
      color: $heading-color;
    }
    .best-seller-card {
      padding-top: 20px;
    }
    .cart-icon {
      position: absolute;
      padding: 12px;
      background: $lighter-color;
      border: 5px solid #ffffff;
      cursor: pointer;
      font-size: 1.8rem;
      top: 0;
      right: 15px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      &:hover {
        background-color: $primary-color;
        color: $white-color;
      }
    }
  }
}
.custom-swiper {
  position: unset !important;
  .swiper-slide {
    a {
      color: $body-color;
      font-size: 1.2rem;
      display: block;
      margin: 30px 0 15px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      text-transform: capitalize;
      &:hover {
        color: $primary-color;
      }
    }
    h3 {
      font-weight: bold;
      font-size: calc(1.4rem + 0.2vw);
      color: $heading-color;
    }
  }
  .navigation {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    span {
      display: block;
      padding: 16px;
      border-radius: 6px;
      font-size: 1.1rem;
      background-color: $lighter-color;
      color: $body-color;
      cursor: pointer;
    }
  }
  .swiper-button-next {
    top: 22px;
    width: 48px;
    height: 50px;
    right: 0;
  }
  .swiper-button-prev {
    top: 22px;
    width: 48px;
    height: 50px;
    left: auto;
    right: 60px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0 !important;
  }
}
