@use "../../variables/variables" as *;
.dash-items-drawer {
  padding: 0;
  text-align: unset;
  height: 100%;
}
.left-dash {
  height: 100vh;

  width: 300px;
  padding: 20px;
  box-shadow: $dash-shadow;

  .drawer-items {
    padding: 20px 0;
    a {
      color: $dash-text-color;
      padding: 12px;
      margin-bottom: 6px;
      border-radius: 6px;
      &.active {
        background: $button-gradint;
        color: $white-color;
      }
      &:hover {
        background-color: $dash-hover;
      }
    }
  }
}

.right-dash {
  flex: 1;
  width: 100%;
  padding: 15px;
  @media (min-width: 992px) {
    padding: 20px;
  }
  background-color: #f8f7fa;
  min-height: 100vh;
  .dash-upper-nav {
    background-color: #ffffff;
    padding: 5px 15px;
    box-shadow: $dash-shadow;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    h3 {
      color: $dash-heading-color;
      font-weight: 600;
    }
    .dash-logout {
      padding: 0;
    }
    .avatar-img {
      background-color: $primary-color;
      padding-left: 5px;
    }
  }
}
.dash-drawer {
  .nav-icon {
    cursor: pointer;
    color: $dash-heading-color;
  }
}

.dash-content {
  padding: 20px 0;
  .dash-search {
    margin-bottom: 15px;
  }
  .search-input {
    padding: 12px;
    box-shadow: $dash-shadow;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
  .grid-setter {
    width: 65px;
  }
  .add_product_btn {
    padding: 12px 24px;
    @media (max-width: 767px) {
      padding: 12px 10px;
    }
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: $primary-dash-color;
    color: $white-color;
    font-weight: 600;
  }
  .table-container {
    overflow: auto;
    &::-webkit-scrollbar {
      width: 50px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      outline: 1px solid $teritary-bg;
    }
    table {
      width: 100%;
      min-width: 750px;
      background-color: $white-color;
      box-shadow: $dash-shadow;
    }
    .table-body {
      height: 85px;
    }
    th,
    td {
      padding: 12px 15px;
      border-bottom: 1px solid $dash-border-color;
      text-align: left;
    }
    th {
      color: $dash-heading-color;
    }
    td {
      color: $dash-text-color;
      text-transform: capitalize;
      img {
        width: 60px;
      }
      .svg-container {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        cursor: pointer;

        &:hover {
          background-color: #7367f029;
        }
      }
      svg {
        color: $primary-dash-color;
      }
    }
    .img-loader {
      width: 60px !important;
      height: 60px !important;
      min-height: 60px !important;

      position: absolute;
    }
    .pagintaion {
      background-color: $white-color;
      padding: 10px;
      button {
        background-color: #f8f7fa;
        &.Mui-selected {
          background-color: $primary-dash-color;
          color: $white-color;
        }
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}
