.close-btn {
  cursor: pointer;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f6f7fb;
  color: #27272e;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.close-btn:hover {
  background-color: #3577f0;
}
.close-btn:hover svg {
  color: #ffffff;
}

.cat-drawer,
.nav-items-drawer {
  padding: 20px;
}

.lower-nav {
  background-color: #f7f7f7;
}
@media (min-width: 992px) {
  .lower-nav .container > .flex {
    height: 60px;
  }
}
.lower-nav .cat-drawer-btn {
  height: 100%;
}
.lower-nav .categories-btn {
  padding: 16px 20px;
  background-color: #3577f0;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  height: 100%;
}

.nav-items-drawer {
  text-align: center;
  padding: 20px;
}
.nav-items-drawer a {
  display: block;
}
.nav-items-drawer .nav-ul {
  padding-top: 15px;
}

.cat-drawer {
  color: #777777;
}
.cat-drawer svg {
  color: #3577f0;
}
.cat-drawer a:hover {
  color: #000000;
}

.cat-li {
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 10px;
  color: #777777;
}
.cat-li:hover {
  color: #000000;
}

.women-ul {
  overflow: hidden;
  padding: 0px 40px;
  padding-right: 0;
}
.women-ul a {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 0;
}

.nav-ul .nav-item {
  color: #292930;
  position: relative;
  text-transform: capitalize;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  display: block;
  font-weight: bold;
}
@media (max-width: 767px) {
  .nav-ul .nav-item {
    color: #777777;
  }
}
.nav-ul .nav-item::before {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  content: "";
  bottom: -6px;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background: #000000;
}
@media (max-width: 767px) {
  .nav-ul .nav-item::before {
    background: #777777;
  }
}
.nav-ul .nav-item:hover, .nav-ul .nav-item.active {
  color: #000000;
}
@media (max-width: 767px) {
  .nav-ul .nav-item:hover, .nav-ul .nav-item.active {
    color: #777777;
  }
}
.nav-ul .nav-item:hover::before, .nav-ul .nav-item.active::before {
  width: 100%;
}

.nav-icons .nav-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777777;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  font-size: 1rem;
}
.nav-icons .nav-icon::before {
  content: "";
  position: absolute;
  background-color: #ff497c;
  width: 0%;
  height: 0%;
  scale: 0.5;
  z-index: -1;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-icons .nav-icon:hover {
  color: #ffffff;
}
.nav-icons .nav-icon:hover::before {
  width: 100%;
  height: 100%;
  scale: 1;
}

.searchbar {
  position: fixed;
  top: 0;
  height: -webkit-fill-available;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.3215686275);
}
.searchbar .remove {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.searchbar-container {
  z-index: 100000;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  max-height: 800px;
  background-color: #ffffff;
  overflow-y: scroll;
  padding: 25px;
  border-radius: 6px;
}
.searchbar-container::-webkit-scrollbar {
  width: 0;
}
.searchbar-container .close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.searchbar-container button:last-child {
  border-radius: 6px;
  background-color: #3577f0;
  color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 12px 20px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.searchbar-container button:last-child::before {
  content: "";
  background-color: #ff497c;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  z-index: -1;
  height: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.searchbar-container button:last-child:hover::before {
  width: 100%;
}

.fake-search-bar button {
  opacity: 0.5;
}

.searchbar-content img {
  width: 150px !important;
}
@media (max-width: 767px) {
  .searchbar-content img {
    width: 120px !important;
  }
}
.searchbar-content .right {
  flex: 1;
}
.searchbar-content h4 {
  margin: 8px 0 12px;
  color: #777777;
  font-weight: bold;
  text-transform: capitalize;
}
.searchbar-content h3 {
  font-weight: bold;
  color: #292930;
}

.searched-prod {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-property: box-shadow;
}
.searched-prod:hover {
  border-color: transparent;
  box-shadow: 0px 1px 3px 4px rgba(241, 241, 241, 0.2196078431), 0px 3px 3px 2px rgba(0, 0, 0, 0.0784313725);
}
.searched-prod:hover h4 {
  color: #3577f0;
}
.searched-prod .old-price {
  color: #777777;
  text-decoration: line-through;
}
.searched-prod .love-icon,
.searched-prod .cart-icon {
  padding: 15px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  color: #777777;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-property: background-color;
  cursor: pointer;
}
.searched-prod .love-icon:hover,
.searched-prod .cart-icon:hover {
  border-color: transparent;
  background-color: #3577f0;
  color: #ffffff;
}

.home-landing {
  padding: 40px 20px;
}
@media (max-width: 767px) {
  .home-landing {
    padding: 40px 15px;
  }
}
.home-landing .swiper {
  border-radius: 6px;
  padding-bottom: 15px;
  background-color: #f7f7f7;
}
@media (min-width: 992px) {
  .home-landing .swiper {
    width: 75%;
  }
}
.home-landing .swiper .swiper-slide {
  position: relative;
  padding: 50px;
  z-index: 2;
}
@media (max-width: 767px) {
  .home-landing .swiper .swiper-slide {
    padding: 20px;
  }
}
.home-landing .swiper .swiper-slide::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .home-landing .swiper .swiper-slide::before {
    width: 50vw;
    height: 50vw;
  }
}
.home-landing .swiper .swiper-slide-next,
.home-landing .swiper .swiper-slide-prev {
  opacity: 0 !important;
}
.home-landing .swiper .left {
  width: 47%;
}
.home-landing .swiper .left .swiper-header {
  color: #ff497c;
  font-weight: bold;
}
.home-landing .swiper .left .swiper-header .watch-icon {
  padding: 10px;
  background: #ff497c;
  color: #ffffff;
  border-radius: 50%;
}
.home-landing .swiper .left h1 {
  font-weight: bold;
  color: #292930;
  font-size: calc(2.1rem + 1vw);
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .home-landing .swiper .left h1 {
    font-size: calc(1.3rem + 1vw);
    margin-bottom: 20px;
  }
}
.home-landing .swiper .left .go-shop {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: #292930;
}
@media (max-width: 767px) {
  .home-landing .swiper .left .go-shop {
    font-size: 1.1rem;
  }
}
.home-landing .swiper .left .go-shop:hover {
  gap: 1.5rem !important;
  color: #3577f0;
}
.home-landing .swiper .right {
  width: 53%;
}
@media (max-width: 767px) {
  .home-landing .swiper .right {
    padding: 20px;
  }
}
.home-landing .swiper .right img {
  margin: auto;
}
@media (min-width: 991px) {
  .home-landing .swiper .right img {
    min-width: 250px;
  }
}
@media (min-width: 1200px) {
  .home-landing .swiper .right img {
    min-width: 300px;
  }
}
.home-landing .swiper .swiper-pagination-bullet {
  background-color: rgba(255, 202, 202, 0.8);
  opacity: 1;
  width: 25px;
  height: 6px;
  border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin: 0 5px;
}
.home-landing .swiper .swiper-pagination-bullet-active {
  background-color: #ff497c;
  width: 45px;
}
.home-landing .right-home {
  padding: 40px;
  background-color: #f7f7f7;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media (min-width: 992px) {
  .home-landing .right-home {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .home-landing .right-home {
    padding: 40px 20px;
  }
}
.home-landing .right-home img {
  margin: auto;
}
.home-landing .right-home a {
  margin: 20px 0 15px;
  display: block;
  font-size: 1.1rem;
  color: #777777;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.home-landing .right-home a:hover {
  color: #3577f0;
}
.home-landing .right-home h3 {
  font-size: calc(1.3rem + 0.1vw);
  font-weight: bold;
  color: #292930;
}

.landing-service .service {
  padding: 40px 25px;
  border: 1px solid #f1f1f1;
  color: #292930;
  font-weight: bold;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 1;
  background-color: #ffffff;
}
.landing-service .service h4 {
  font-size: calc(1.1rem + 0.3vw);
  margin-top: 20px;
}
.landing-service .service::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border: 1px solid #f1f1f1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.landing-service .service:hover {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1490196078), 0px 0px 3px 6px rgba(0, 0, 0, 0.0784313725);
  border-radius: 6px;
  overflow: hidden;
}
.landing-service .service:hover::before {
  transform: translate(20px, 20px);
  -webkit-transform: translate(20px, 20px);
  -moz-transform: translate(20px, 20px);
  -ms-transform: translate(20px, 20px);
  -o-transform: translate(20px, 20px);
}

.custom-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
@media (min-width: 767px) {
  .custom-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.custom-container h1 {
  color: #292930;
  font-weight: bold;
  font-size: calc(2rem + 0.2vw);
  margin: 8px 0 40px;
}
.custom-container .container {
  position: relative;
}
.custom-container .custom-header .flex {
  color: #8c71db;
  font-weight: 600;
}
.custom-container .custom-header .flex .icon {
  padding: 6px;
  border-radius: 50%;
}
.custom-container .custom-header .flex svg {
  color: #ffffff;
}

.custom-swiper {
  position: unset !important;
}
.custom-swiper .swiper-slide a {
  color: #777777;
  font-size: 1.2rem;
  display: block;
  margin: 30px 0 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.custom-swiper .swiper-slide:hover {
  color: #3577f0;
}
.custom-swiper .swiper-slide h3 {
  font-weight: bold;
  font-size: calc(1.4rem + 0.2vw);
  color: #292930;
}
.custom-swiper .navigation {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.custom-swiper .navigation span {
  display: block;
  padding: 16px;
  border-radius: 6px;
  font-size: 1.1rem;
  background-color: #f6f7fb;
  color: #777777;
  cursor: pointer;
}
.custom-swiper .swiper-button-next {
  top: 22px;
  width: 48px;
  height: 50px;
  right: 0;
}
.custom-swiper .swiper-button-prev {
  top: 22px;
  width: 48px;
  height: 50px;
  left: auto;
  right: 60px;
}
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  opacity: 0 !important;
}

.new-arrival {
  margin-bottom: 75px;
}
.new-arrival .custom-header .flex {
  color: #8c71db;
}
.new-arrival .custom-header .flex .icon {
  background-color: #8c71db;
}

.best-seller {
  margin-top: 75px;
}
.best-seller .custom-header .flex {
  color: #ff497c;
}
.best-seller .custom-header .flex .icon {
  background-color: #ff497c;
}
.best-seller .swiper-slide {
  padding: 25px;
  z-index: 1;
}
.best-seller .swiper-slide img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.best-seller .swiper-slide:hover img {
  scale: 0.9;
}
.best-seller .swiper-slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  z-index: -1;
  height: 70%;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.best-seller .swiper-slide .title-link {
  color: #3577f0;
  font-weight: bold;
  font-size: calc(1.2rem + 0.2vw);
  margin: 0 0 12px;
}
.best-seller .swiper-slide .title-link:hover {
  color: #ff497c;
}
.best-seller .swiper-slide h5 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #292930;
}
.best-seller .swiper-slide .best-seller-card {
  padding-top: 20px;
}
.best-seller .swiper-slide .cart-icon {
  position: absolute;
  padding: 12px;
  background: #f6f7fb;
  border: 5px solid #ffffff;
  cursor: pointer;
  font-size: 1.8rem;
  top: 0;
  right: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.best-seller .swiper-slide .cart-icon:hover {
  background-color: #3577f0;
  color: #ffffff;
}

.testi-container {
  padding: 0 20px;
}
@media (max-width: 767px) {
  .testi-container {
    padding: 0 15px;
  }
}

.testimonials {
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f9f3f0;
}
@media (max-width: 991px) {
  .testimonials {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .testimonials {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.testimonials .custom-header {
  padding: 20px 0 0;
}
.testimonials .icon {
  background-color: #8c71db;
}
.testimonials .swiper-slide {
  margin-bottom: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.testimonials .swiper-slide .quote {
  padding: 30px 40px;
  background: #ffffff;
  color: #777777;
  font-size: calc(1.2rem + 0.2vw);
  margin-bottom: 40px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.testimonials .swiper-slide .quote::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 25px solid #ffffff;
  border-right: 50px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: -25px;
  left: 100px;
}
.testimonials .swiper-slide h6 {
  color: #777777;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 6px;
}
.testimonials .swiper-slide h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #292930;
}
@media (min-width: 768px) {
  .testimonials .swiper-slide-active {
    transform: translateY(30px);
  }
}

.month-arrival .swiper {
  padding: 20px 0;
}
.month-arrival .icon {
  background-color: #8c71db;
}
.month-arrival .img-container {
  background-color: #f7f7f7;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .month-arrival .img-container {
    width: 280px;
    height: 280px;
    margin: auto;
  }
}
.month-arrival .img-container img {
  width: 100%;
}
.month-arrival .show-btns {
  margin-top: 20px;
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  position: unset !important;
}

.home-offer {
  padding: 50px 15px;
}
.home-offer .offer {
  background-color: #f6f7fb;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .home-offer .offer {
    padding: 40px;
  }
}
@media (min-width: 992px) {
  .home-offer .offer {
    padding: 50px;
  }
}
@media (min-width: 1200px) {
  .home-offer .offer {
    padding: 60px;
  }
}
.home-offer .offer .left {
  align-items: center;
  text-align: center;
}
.home-offer .offer .left > .flex:first-child {
  align-items: center;
  color: #ff497c;
  font-weight: bold;
}
.home-offer .offer .left > .flex:first-child .icon {
  background-color: #ff497c;
  color: #ffffff;
  padding: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home-offer .offer .left h1 {
  color: #292930;
  font-weight: bold;
  font-size: calc(2rem + 0.5vw);
  max-width: 400px;
  line-height: 1.5;
}
.home-offer .offer .left .time {
  width: 75px;
  height: 75px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-offer .offer .left .time h5 {
  font-weight: bold;
  color: #000000;
}
.home-offer .offer .left .time h6 {
  color: #777777;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.home-offer .offer .left a {
  display: block;
  padding: 20px 40px;
  background-color: #3577f0;
  color: #ffffff;
  margin: 30px 0 0;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.home-offer .offer .left a:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.231372549);
}

.newsletter-conatiner {
  padding: 60px 15px;
}
.newsletter-conatiner .newsletter {
  background-image: url("/landing-page/watch-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 60px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media (max-width: 991px) {
  .newsletter-conatiner .newsletter {
    padding: 80px 40px;
  }
}
@media (max-width: 767px) {
  .newsletter-conatiner .newsletter {
    padding: 40px 20px;
  }
}
.newsletter-conatiner .newsletter .header {
  color: #3577f0;
}
.newsletter-conatiner .newsletter .header .icon {
  color: #ffffff;
  background-color: #3577f0;
  padding: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.newsletter-conatiner .newsletter h1 {
  color: #292930;
  font-weight: bold;
}
.newsletter-conatiner .newsletter label {
  background-color: #ffffff;
  padding: 20px 35px;
  align-items: center;
}
.newsletter-conatiner .newsletter label svg {
  font-size: 1.2rem;
}
.newsletter-conatiner .newsletter label input {
  background-color: transparent;
  width: 100%;
}
.newsletter-conatiner .newsletter button {
  padding: 20px 30px;
  background: #292930;
  color: #ffffff;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  width: -moz-fit-content;
  width: fit-content;
}
.newsletter-conatiner .newsletter button:hover {
  scale: 1.1;
}

.shop {
  min-height: 100vh;
}
.shop .shop-container {
  padding: 80px 15px;
}
.shop .shop-card {
  text-align: left !important;
}
.shop .shop-card img {
  width: 100%;
}
.shop .shop-card .card-price {
  justify-content: flex-start !important;
}
.shop .products-filter {
  flex-wrap: wrap;
  color: #777777;
  font-weight: 600;
}
.shop .filter-btn {
  z-index: 20;
  cursor: pointer;
}
.shop .results-number span {
  color: #3577f0;
}
.shop .select-btn {
  padding: 12px 16px;
  background: #f7f7f7;
  color: #292930;
  border-radius: 6px;
  display: flex;
  min-width: 60px;
}
.shop .options {
  position: absolute;
  z-index: 20;
  background: #ffffff;
  width: 100%;
  border-radius: 6px;
  left: 1px;
  border: 1px solid #f1f1f1;
  margin-top: 3px;
}
.shop .options div {
  padding: 10px;
  color: #777777;
  cursor: pointer;
}
.shop .options div:not(:last-child) {
  border-bottom: 1px solid rgba(119, 119, 119, 0.2901960784);
}
.shop .options div:hover {
  color: #3577f0;
  background-color: #f9f9f9;
}
.shop .sort-products .select-btn {
  min-width: 120px;
}
.shop .sort-products .options div {
  padding: 10px 16px;
}
.shop .display .icon-holder {
  position: relative;
  z-index: 200;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  padding: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.shop .display .icon-holder:hover {
  background-color: #ff497c;
  color: #ffffff;
  border-color: transparent;
}
.shop .display .icon-holder.active {
  background-color: #292930;
  color: #ffffff;
  border-color: transparent;
}
.shop .searched-prod {
  z-index: 8;
  position: relative;
}
.shop .searched-prod .left {
  max-width: 40%;
}
.shop .searched-prod .cart-icon {
  font-size: 1.2rem !important;
}
.shop .searched-prod .right {
  flex: 1;
}
.shop .searched-prod a {
  margin: 15px 0;
  display: block;
  text-transform: capitalize;
  color: #3577f0;
  font-weight: 600;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.shop .searched-prod a:hover {
  color: #ff497c;
}
.shop .searched-prod p {
  margin-bottom: 20px;
  color: #777777;
}

.pagination ul {
  justify-content: center;
}

.click-listner {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.shop-card:hover img {
  scale: 1.2;
}
.shop-card:hover .show-btns {
  bottom: 35px;
}
.shop-card .img-container {
  overflow: hidden;
  background-color: #f6f7fb;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.shop-card .img-container img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.shop-card .show-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  gap: 8px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.shop-card .show-btns .love-icon,
.shop-card .show-btns .inspect-icon {
  width: 48px;
  height: 44px;
  background: #3577f0;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  margin: 0;
}
.shop-card .show-btns .love-icon:hover,
.shop-card .show-btns .inspect-icon:hover {
  scale: 1.2;
}
.shop-card .show-btns .cart-icon {
  margin: 0 8px;
  padding: 12px 16px;
  background-color: #ff497c;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.shop-card .show-btns .cart-icon:hover {
  scale: 1.1;
}
.shop-card a {
  color: #777777;
  font-size: 1.2rem;
  display: block;
  margin: 30px 0 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: capitalize;
  font-weight: 600;
}
.shop-card a:hover {
  color: #3577f0;
}
.shop-card .card-price {
  font-weight: bold;
  font-size: calc(1.3rem + 0.2vw);
  color: #292930;
}
.shop-card .card-price .old-price {
  text-decoration: line-through;
  color: #777777;
}

.layout {
  padding: 80px 0;
  color: #292930;
  background-color: #f7f7f7;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .layout {
    padding: 50px 0;
  }
}
.layout .flex > .flex {
  position: relative;
  z-index: 20;
}
.layout h1 {
  margin: 0 0 15px;
  font-weight: bold;
  font-size: calc(2.2rem + 0.5vw);
}
.layout a {
  color: #777777;
}
.layout a:hover {
  color: #3577f0;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif !important;
}

h1 {
  font-size: calc(1.8rem + 0.2vw);
}
@media (min-width: 768px) {
  h1 {
    font-size: calc(1.7rem + 0.2vw);
  }
}

h2 {
  font-size: calc(1.5rem + 0.2vw);
}
@media (min-width: 768px) {
  h2 {
    font-size: calc(1.3rem + 0.2vw);
  }
}

h3 {
  font-size: calc(1.4rem + 0.1vw);
}
@media (min-width: 768px) {
  h3 {
    font-size: calc(1.2rem + 0.1vw);
  }
}

h4 {
  font-size: calc(1.3rem + 0.1vw);
}
@media (min-width: 768px) {
  h4 {
    font-size: calc(1.1rem + 0.1vw);
  }
}

h5 {
  font-size: calc(1.2rem + 0.1vw);
}

h6 {
  font-size: calc(1rem + 0.1vw);
}/*# sourceMappingURL=app.css.map */