$primary-color: #3577f0;
$primary-light: #8c71db;
$secondary-color: #ff497c;
$teritary-color: #fab8c4;
$primary-bg: #ffffff;
$secondary-bg: #f7f7f7;
$teritary-bg: #f9f3f0;
$heading-color: #292930;
$body-color: #777777;
$light-color: #cbd3d9;
$lighter-color: #f6f7fb;
$lightest-color: #c4c4c4;
$white-color: #ffffff;
$black-color: #000000;
$dark-color: #27272e;
